<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('img/favicons/apple-touch-icon-57x57.png') }}"> <!-- avec effet : apple-touch-icon  -->
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('img/favicons/apple-touch-icon-60x60.png') }}"> <!-- sans effet : apple-touch-icon-precomposed  -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('img/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('img/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('img/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('img/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('img/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('img/favicons/apple-touch-icon-152x152.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('img/favicons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{{ asset('img/favicons/mstile-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Memonote{% endblock %}</title>
        
{#    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/shCore.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/shThemeDefault.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/jclememo/css/style.css') }}" type="text/css" />
    {% endblock %}#}
    
    {% stylesheets  filter='cssrewrite' output='css/compiled/main.css'  filter='yui_css'
                    'css/jquery-ui.min.css'
                    'css/shCore.css'
                    'css/shThemeDefault.css'
                    'css/bootstrap.css'
                    '@JCLEMemoBundle/Resources/public/css/style.css'
                    'markitup/skins/simple/style.css'
                    'markitup/sets/BBCode/style.css' 
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    
{#    {% javascripts '@AcmeFooBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}#}


      
  </head>

<body>
    
    <div class="container">
        <div class="row text-center">
            <a href="{{ path("jclememo_accueil") }}" tabindex="-1"><img class="img-responsive img-thumbnail centrer" src="{{ asset('bundles/jclememo/images/banniere.jpeg') }}" alt="banniere de memonote"/></a>
        </div>
    
        {% block body %}
            {% block jclememo_navbar %}{% endblock %}
            {% block jclememo_body %}{% endblock %}
        {% endblock %}
        
        

        {% block javascripts %}
{#            <script src="{{ asset('js/jquery.js') }}" type="text/javascript" ></script>
            <script src="{{ asset ('js/jquery-ui.min.js') }}" type="text/javascript"></script>#}
{#            <script src="{{ asset('bundles/jclememo/js/memo.js') }}" type="text/javascript" ></script>#}
{#            <script src="{{ asset('js/shCore.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript" ></script>#}
{#            <script type="text/javascript" src="{{ asset('js/shCore.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/brushesSH/shAutoloader.js') }}" ></script>#}
{#            <script src="{{ asset('markitup/jquery.markitup.js') }}" type="text/javascript"></script>
            <script src="{{ asset('markitup/sets/BBCode/set.js') }}" type="text/javascript"></script>#}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            
           {% javascripts output='js/compiled/main.js'  filter='yui_js'
                        'js/jquery.js'
                        'js/jquery-ui.js'
                        'markitup/*'

                        'markitup/sets/BBCode/set.js'                      
                        '@JCLEMemoBundle/Resources/public/js/*'
                        'js/shCore.js'
                        'js/bootstrap.js'
                        'js/brushesSH/*'         
        %}
{#                                'markitup/jquery.markitup.js'        #}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            var pathImgDirectory = "{{ asset('uploads/icon/') }}";
                SyntaxHighlighter.all();
            SyntaxHighlighter.config.stripBrs = true;
        </script>

{#            <script type="text/javascript">
                SyntaxHighlighter.autoloader(
                ['js','jscript','javascript','{{ asset('js/compiled/main.js') }}'],
                ['c#','csharp','{{ asset('js/compiled/main.js') }}'],
                ['css','{{ asset('js/compiled/main.js') }}'],
                ['xml','{{ asset('js/compiled/main.js') }}'],
                ['sql','{{ asset('js/compiled/main.js') }}'],
                ['php','{{ asset('js/compiled/main.js') }}']
                );
                SyntaxHighlighter.all();
            </script>#}
            {#<script type="text/javascript">
                SyntaxHighlighter.autoloader(
                ['js','jscript','javascript','{{ asset('js/brushesSH/shBrushJScript.js') }}'],
                ['c#','csharp','{{ asset('js/brushesSH/shBrushCSharp.js') }}'],
                ['css','{{ asset('js/brushesSH/shBrushCss.js') }}'],
                ['xml','{{ asset('js/brushesSH/shBrushXml.js') }}'],
                ['sql','{{ asset('js/brushesSH/shBrushSql.js') }}'],
                ['php','{{ asset('js/brushesSH/shBrushPhp.js') }}']
                );
                SyntaxHighlighter.all();
            </script>#}
        {% endblock %}
    
{#    <footer><p>Nom récupéré dans le parameters et config = {{ webmaster }} @ 2014</p></footer>#}
    </div>
    
  </body>
</html>