
{# On étend notre layout #}
{% extends "JCLEMemoBundle::layout.html.twig" %}

{% set hideNavBar=true %}

{#{% block jclememo_navbar %}
    
    {{ parent() }}
    {% include "FOSUserBundle:Fmessage:message.html.twig" %}
    
{% endblock %}#}

{# Dans notre layout, il faut définir le block body #}
{% block jclememo_body %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">

        {% if error %}
            <div class="alert alert-danger fade in flash_message">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 {{ error.message|trans({'Bad credentials': 'Login ou mot de passe incorrect'}, 'JCLEUserBundle') }}
            </div>
        {% endif %}


        <div class="login-panel panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Authentification</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant" autofocus />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                            <label class="pull-right"><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></label>
                        </div>
                        <div class="text-center">
                            <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}